@use "../../styles/typo";
@use "../../styles/theme";
@use "../../styles/animation";


.container {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.projectSection {
  height: 960px;

  .projectWrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
    .projectTitle {
      font-family: typo.$nunito;
      font-size: 42px;
      margin-bottom: 1.3rem;
    }
  }
}

.designSection {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 140px;
  .xLine {
    flex-shrink: 0;
    width: 100%;
    height: 1px;
    background-color: #1a1a1a;
  }
  .buttonBox {
    position: relative;
    top: 1rem;
    left: 1rem;
    width: 120px;
    height: 120px;
  }
}

.rotationButton {
  transform: scale(0);
  transition: 2s ease;
  transition-delay: 0.1s;
}


// ** 타블렛 영역 **
@media screen and (theme.$tabletSize) {
    .projectSection {
      height: 730px;
    }
}

// ** 모바일 영역 **
@media screen and (theme.$mobileSize) {
  .projectSection {
    height: 420px;
  }
  .designSection {
    .xLine {
      display: none;
    }
    .buttonBox {
    display: none;}
  }
}

.slideUp {
  @include animation.slide-up;
}

.slideUpLoad {
  @include animation.slide-up-load;
}

.slideDown {
  @include animation.slide-down;
}

.slideDownLoad {
  @include animation.slide-down-load;
}

.scale {
  @include animation.scale;
}

.scaleLoad {
  @include animation.scale-load;
}